version: '3'
services:
  mongo:
    image: bitnami/mongodb:5.0
    volumes:
      - db-data:/bitnami/mongodb
      - /etc/localtime:/etc/localtime:ro
    networks:
      - back-tier
    restart: always
    environment:
      MONGODB_ROOT_USER: 'root'
      MONGODB_ROOT_PASSWORD: 'r00t'
      MONGODB_USERNAME: 'anchore_ui'
      MONGODB_PASSWORD: '123456'
      MONGODB_DATABASE: 'anchore'

  scanner:
    build: .
    depends_on:
      - mongo
    image: anchore_ui:latest
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    ports:
      - "8888:8888"
    networks:
      - front-tier
      - back-tier
    restart: always
    environment:
      MONGO_IP: 'mongo'
      MONGO_PORT: 27017
      MONGO_DB_NAME: 'anchore'
      MONGO_USER: 'anchore_ui'
      MONGO_PWD: '123456'
      UI_USERNAME: 'user'
      UI_PASSWORD: 'user'
      # Please modify the following configuration with your Anchore settings
      ANCHORE_API: 'http://anchore-engine-api.nip.io'
      ANCHORE_USERNAME: 'anchore_user'
      ANCHORE_PASSWORD: 'anchore'

volumes:
  db-data:

networks:
  # The presence of these objects is sufficient to define them
  front-tier: {}
  back-tier: {}